html {
  scroll-behavior: smooth;
}

.logo-img {
  width: 35px;
  height: auto;
  max-height: 32px;
  padding-right: 5px;
}

.icon-size {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.btn {
  background-color: #ec959c !important;
  color: #f9c7d5 !important;
  border-color: none;
}

.btn:hover {
  background-color: #f9c7d5 !important;
  color: #ec959c !important;
  border-color: none;

  /* Navbar */
  .navbar {
    background-color: #f8dc69;
    transition: background-color 0.3s ease;
  }

  .navbar.scrolled {
    background-color: #c18111;
  }

  .navbar .navbar-brand,
  .navbar .nav-link {
    color: #c97a5b;
    transition: color 0.3s ease;
  }

  .navbar .navbar-brand:hover,
  .navbar .nav-link:hover {
    color: #ec959c;
  }

  body.scrolled .navbar {
    background-color: #c18111;
  }
}

/* Estilos para la hero section */
.section-header {
  color: #c18111;
}

.section-subtitle {
  color: #e1b83d;
}

.section-bg {
  background-color: #f8dc69;
  padding: 20px;
  border-radius: 10px;
}

.section-text {
  color: #c97a5b;
}

/* Estilos para CEO section */
.description-box {
  background-color: #f8dc69;
  color: #4a3a25;
  box-shadow: 0px 10px 15px rgba(74, 58, 37, 0.1);
  margin-top: 2rem;
}

.description-box h3 {
  color: #c18111;
  font-size: 1.5rem;
  font-weight: bold;
}

.description-box p {
  line-height: 1.6;
  margin-bottom: 1.5rem;
  color: #4a3a25;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f9f3e3;
}

.card-body {
  flex-grow: 1;
  color: #4a3a25;
}

.card-hover img {
  box-shadow: 0px 10px 20px rgba(74, 58, 37, 0.3);
  border-radius: 5px;
}

.card-hover .card-body {
  color: #f9f3e3;
  background-color: #C97A5B(0, 0, 0, 0.6);
}

.long-description {
  margin-bottom: 1rem;
  line-height: 1.6;
  color: #4a3a25;
}

.btn-instagram,
.btn-facebook {
  background-color: #c97a5b;
  color: white;
  transition: background-color 0.3s ease;
}

.btn-instagram:hover,
.btn-facebook:hover {
  background-color: #ec959c;
}

.fs-sm {
  color: #c97a5b;
}

.display-6 {
  color: #c18111;
}

/* Estilos de la Galería de Productos */

h1.display-4 {
  color: #4a3a25;
}

.fs-lg {
  color: #7b6f57;
}

.card {
  border: none;
  background-color: #f9f5f2;
  color: #4a3a25;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0px 15px 25px rgba(74, 58, 37, 0.3);
}

.card-title {
  color: #56351e;
  font-weight: bold;
  font-size: 1.2rem;
}

.card-text {
  color: #7b6f57;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.carousel-indicators {
  position: absolute;
  bottom: -50px;
  padding-left: 0;
}

.carousel-indicators li {
  background-color: #56351e;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 5px; 
}

.carousel-indicators .active {
  background-color: #56351e;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: transparent;
  border-radius: 50%;
}

.carousel-indicators:hover .carousel-control-prev-icon,
.carousel-indicators:hover .carousel-control-next-icon {
  background-color: #56351e;
}

.product-card img {
  transition: transform 0.3s ease-in-out;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.product-card:hover img {
  transform: scale(1.2);
  box-shadow: 0px 10px 20px rgba(74, 58, 37, 0.3);
}

.card-body.text-center {
  background-color: #f3ece7;
  padding: 1rem;
  border-top: 1px solid #d8c7b6;
  color: #56351e;
}

/* Sección de contacto */
#contact-form {
  color: #f8dc69;
}

#contact-form h2,
#contact-form .form-label {
  color: #4b160d;
}

/* Formulario */
#contact-form .form-control {
  background-color: #fff;
  color: #121519;
  border: 1px solid #ccc;
}

#contact-form .btn-light {
  background-color: #ec959c;
  color: #f9c7d5;
  border: none;
}

#contact-form .btn-light:hover {
  background-color: #f9c7d5;
  color: #ec959c;
}

/* Formas decorativas */
#contact-form svg path {
  fill-opacity: 0.1;
}

/* Footer */
.footer {
  background-color: #c18111 !important;
}

.footer .display-6,
.footer .nav-link,
.footer .fa,
.footer .text-center,
.footer .fs-sm,
.footer .nav-link.d-inline {
  color: #f8dc69;
}

.footer .btn {
  background-color: #ec959c;
  color: #f9c7d5;
  border-color: none;
}

.footer .btn:hover {
  background-color: #f9c7d5;
  color: #ec959c;
  border-color: none;
}

.footer .nav-link:hover,
.footer .fa:hover {
  color: #f9c7d5;
}

/* Estilos para los íconos de redes sociales */
.footer .fa {
  font-size: 1.8rem;
  transition: transform 0.3s ease;
}

.footer .fa:hover {
  transform: scale(1.2);
  color: #f9c7d5;
}
