html {
  scroll-behavior: smooth;
}

.logo-img {
  width: 35px;
  height: auto;
  max-height: 32px;
  padding-right: 5px;
}

.icon-size {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

/* Estilos para CEO section */
.description-box {
  background-color: #f9f5f2;
  color: #4d4d4d;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
}

.description-box h3 {
  color: #6b6b6b;
  font-size: 1.5rem;
  font-weight: bold;
}

.description-box p {
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-body {
  flex-grow: 1;
}

.long-description {
  margin-bottom: 1rem;
  line-height: 1.6;
}

/* efectos galería de productos */
.product-card {
  overflow: hidden; 
  position: relative;
}

.product-card img {
  transition: transform 0.3s ease-in-out;
}


.product-card:hover img {
  transform: scale(1.1); 
}

/* Footer */
.footer {
  background-color: #C18111 !important;
}

.footer .display-6,
.footer .nav-link,
.footer .fa,
.footer .text-center,
.footer .fs-sm,
.footer .nav-link.d-inline {
  color: #F8DC69;
}

.footer .btn-primary {
  background-color: #E1B83D;
  border-color: #E1B83D;
}

.footer .btn-primary:hover {
  background-color: #F8DC69;
  border-color: #F8DC69;
}

.footer .nav-link:hover,
.footer .fa:hover {
  color: #F9C7D5;
}

/* Estilos para los íconos de redes sociales */
.footer .fa {
  font-size: 1.8rem; 
  transition: transform 0.3s ease; 
}

.footer .fa:hover {
  transform: scale(1.2); 
  color: #F9C7D5; 
}

