/* Estilos para el botón flotante de WhatsApp */
.float-wa {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  top: 50%;
  background-color: #25d366;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-50%);
  z-index: 1000;
  transition: transform 0.3s;
}

/* Icono personalizado */
.fa {
  font-size: 32px;
  color: white;
}

/* Efecto hover */
.float-wa:hover {
  transform: scale(1.1);
}
